.idea
*__pycache__*
bibliography
test
remoteConda
nohup.out

0-preliminaryAnalysis/imageSlide.ipynb

1-simulation/2-sudokuSpiNNakerNNI.py

2-analysis

3-trafficReport

article/drawioSource
article/image/*
!article/image/pipeline.png

*.csv
*.ods
